*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #fff;
}
.top-header{
    z-index: 1;
    position: absolute;
    font-size: 45px;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0);
    color: #fff;
}
.wavy-div{
    position: absolute;
    top: 0;
    width: 100%;
    /* box-sizing: border-box; */
    background-color: #fff;
}
#waves{
    height: 40%;
    color: linear-gradient(to bottom(rgba(teal,black,0.5)));
}
main{
    position: absolute;
    top: 50%;
}
section{
    position: relative;
    left: 50%;
    width: 80%;
    transform: translate(-50%, 0);
}
h2{
    color: darkcyan;
    margin-top: 20px;
    margin-bottom: 20px;
}
.section-2{
    text-align: right;
}
@media only screen and (max-width: 900px){
    .top-header{
        position: absolute;
        top: 2%;
        left: 50%;
        font-size: 30px;
        transform: translate(-50%, 0);
    }
    main{
        position: absolute;
        width: 100%;
        top: 22%;
    }
}